<%- include('header'); -%>
<div class="container">
    <h1><%= title %></h1>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#rejoindre"
               role="tab" aria-controls="rejoindre" aria-selected="true">
                Rejoindre un salon
            </a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#creation"
               role="tab" aria-controls="creation" aria-selected="false">
                Créer un salon
            </a>
        </li>
    </ul>


    <div class="tab-content">
        <div class="tab-pane active" id="rejoindre" role="tabpanel" aria-labelledby="home-tab">
            <h3 class="my-3">Liste des salons disponibles</h3>
            <ul class="list-group">
                <% for(let i = 0; i < rooms.length; i++){ %>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <%= rooms[i].titre %>
                        <span class="badge bg-primary rounded-pill"><%= rooms.length %></span>
                    </li>
                <% } %>
            </ul>
        </div>
        <div class="tab-pane" id="creation" role="tabpanel" aria-labelledby="profile-tab">
            <div class="mt-3">
                <div class="mb-3">
                    <label for="roomName" class="form-label">Titre</label>
                    <input class="form-control" type="text" placeholder="Précisez le titre du salon" id="roomName"
                           name="roomName">
                </div>
                <div class="mb-3">
                    <label for="pseudo" class="form-label">Votre pseudo</label>
                    <input class="form-control" type="text" placeholder="Votre nom visible par les autres joueurs"
                           id="pseudo" name="pseudo">
                </div>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button type="button" class="btn btn-success"
                            onclick="ajouterSalon()">
                        GO
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/index.js"></script>
<script>
    var socket = io.connect("localhost:3000");
</script>

<%- include('footer'); -%>